<!DOCTYPE html>
<html>
  <head>
    <title>SamStone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div style="float:left">
        <a class="navbar-brand" href="/about">
          <img class = "img-brand" alt="SamStone" src="<%= asset_path("SamStoneIcon.png")%>">
        </a>
      </div>
      <div style="float:right">stone</div>
    </nav>

    <%= yield %>
  </body>
</html>
